.hr {
  width: fill-available;
}

.image {
  max-height: 5rem;
  max-width: 5rem;
}

.images {
  display: flex;
  gap: 1rem;
  max-height: 5rem;
}

.newPost {
  resize: none;
}

.newPostContainer {
  display: flex;
  flex-direction: column;
}

.post {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: start;
  white-space: pre-line;
}

.postActions {
  display: flex;
  gap: 1rem;
}

.postButton {
  margin-left: auto;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fill-available;
  padding: 1rem;
}
